body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#lista-dados {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Alinhar os itens à esquerda */
    margin: 0;
    padding-left: 0;
    margin-top: 20px; /* Adicionado espaço entre o título e a lista */
}

.dados-item {
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 5px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px); /* Definir largura para 3 itens por linha */
    max-width: 800px; /* Definindo a largura máxima */
    overflow: hidden;
    position: relative;
    display: flex; /* Adicionando display flex para alinhar itens horizontalmente */
    align-items: center; /* Alinhar verticalmente ao centro */
    margin: 0 10px 20px 10px; /* Adicionando margem entre os itens */
    transition: background-color 0.3s; /* Adicionando transição para a mudança de cor */
    cursor: pointer; /* Adicionando cursor pointer para indicar que é clicável */
}

.dados-item:hover {
    background-color: rgb(115, 225, 159); /* Mudar a cor de fundo ao passar o mouse */
}

.dados-item img {
    width: 100px;
    height: 150px;
    border-radius: 10px;
    margin-right: 20px;
    object-fit: cover;
    margin-left: 10px;
}

.dados-info { /* Ocupar todo o espaço restante */
    flex-grow: 1;
}

.dados-info h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.dados-info p {
    margin: 5px 0;
    color: #666;
}

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.dialog-box {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.dialog-buttons {
    margin-top: 10px;
}

.dialog-buttons button {
    margin: 0 5px;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dialog-buttons button:focus {
    outline: none;
}

/* Estilos para os botões */
#resolvidoButton {
    background-color: green;
    color: white;
    margin-right: 10px; /* Adicionado espaçamento entre os botões */
    transition: transform 0.2s; /* Adicionado efeito de transição */
}

#voltarButton {
    background-color: red;
    color: white;
    transition: transform 0.2s; /* Adicionado efeito de transição */
}

/* Estilos para a caixa de diálogo */
.dialog-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.dialog-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    max-width: 80%;
}

.dialog-buttons {
    margin-top: 20px;
    text-align: center; /* Centraliza os botões */
}

.dialog-buttons button:hover {
    transform: scale(1.1); /* Efeito de escala ao passar o mouse */
}

.dialog-image img {
    width: 100%; /* Faz a imagem ocupar a largura total */
    height: 300px;
    border-radius: 10px;
}

.dialog-info p {
    margin: 5px 0;
}

@media screen and (max-width: 768px) {
    #lista-dados {
        display: block; /* Altera a exibição da lista para um bloco */
    }

    .dados-item {
        width: 100%; /* Definir largura total */
        margin: 0 0 20px 0; /* Ajustar margens */
    }

    .dados-item .dados-info {
        margin-left: 0; /* Remover margem à esquerda */
    }

    .dados-item img {
        margin-right: 0; /* Remover margem à direita */
    }
}

